{
  "extends": [
    "taro/react",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "off",
    "no-unexpected-multiline": "error",
    "space-before-function-paren": [
      "error",
      "always"
    ],
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "warn",
      "double"
    ],
    "comma-dangle": [
      "warn",
      "always-multiline"
    ],
    "eol-last": [
      "warn",
      "never"
    ],
    "prefer-const": [
      "warn",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "prefer-template": "error",
    "no-var": "error",
    "import/no-commonjs": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "import/first": "off",
    "jsx-quotes": [
      "warn",
      "prefer-double"
    ],
    "react/self-closing-comp": [
      "warn",
      {
        "component": true,
        "html": true
      }
    ],
    "react-hooks/rules-of-hooks": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "varsIgnorePattern": "^_|^Nerv|^React|^Taro",
        "argsIgnorePattern": "^_|^Nerv|^React|^Taro"
      }
    ],
    "@typescript-eslint/semi": [
      "warn",
      "always"
    ],
    "@typescript-eslint/no-shadow": "off",
    "quote-props": [
      "warn",
      "consistent-as-needed"
    ],
    "array-element-newline": [
      "warn",
      "consistent"
    ],
    "arrow-parens": [
      "warn",
      "as-needed"
    ],
    "react/no-children-prop": "off",
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/object-curly-spacing": [
      "warn",
      "always"
    ],
    "no-shadow": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": true
      }
    ],
    "react/jsx-indent": [
      "warn",
      2,
      {
        "indentLogicalExpressions": true
      }
    ],
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1,
        "ignoredNodes": [
          "JSXElement *",
          "JSXElement"
        ],
        "FunctionDeclaration": {
          "parameters": 1,
          "body": 1
        },
        "FunctionExpression": {
          "parameters": 1,
          "body": 1
        }
      }
    ],
    "comma-spacing": [
      "warn",
      {
        "before": false,
        "after": true
      }
    ]
  }
}